/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #ffdede;
  background: linear-gradient(
    330deg,
    rgba(255, 222, 222, 0.33) 0%,
    rgba(255, 255, 255, 1) 58%,
    rgba(255, 255, 255, 1) 66%,
    rgb(170, 211, 240) 100%
  );
  color: #333;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  color: white;
}

header {
  background-color: #4a98e5;
  padding: 10px;
  text-align: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  background-color: #4a98e5;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f5f5f5;
}

.posts-title {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.profile-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-card {
  border: 0px solid gray;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(246, 136, 84, 0.893);
  margin-bottom: 20px;
}

.login-title {
  text-align: center;
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dad6d67b;
  width: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(181, 179, 179);
}

.login-form label,
.login-form input {
  margin-block: 5px;
}

.login-form input {
  border: none;
  width: 200px;
  height: 25px;
  border-radius: 5px;
}

.login-form button {
  margin: 10px;
  padding: 5px;
  border: none;
  background-color: #6c1ae7;
  color: white;
  border-radius: 10px;
  width: 100px;
}

.home-logout {
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(112, 31, 212);
  color: white;
}

.reg-title {
  text-align: center;
  margin: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form input {
  margin-block: 10px;
  width: 100%;
}

.register-form li {
  margin-left: 15px;
  margin-bottom: 10px;
}

.profile {
  height: 81.5vh;
}

.profile-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.profile-pic {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-data-card {
  border: 0.5px solid rgb(173, 173, 173);
  border-radius: 20px;
  padding: 10px;
  padding-inline: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.profile-data-card h3 {
  color: #353434af;
}

.profile-data-card input[type="email"] {
  width: 160px;
  text-align: end;
  border: none;
  background-color: transparent;
}

.profile-data-card input[type="text"],
.profile-data-card input[type="number"] {
  width: 80px;
  text-align: end;
  border: none;
  background-color: transparent;
}

.profile-data-card input[type="text"]:focus,
.profile-data-card input[type="email"]:focus,
.profile-data-card input[type="number"]:focus {
  outline: none;
}

.edit-profile {
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #4284d5;
  color: white;
  padding: 10px;
  border: none;
}

.edit-container {
  display: flex;
  margin-top: 10px;
}

.content {
  height: 83.1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page {
  min-height: 50vh;
  background: #efc2ff;
  background: #f4d4fc;
  background: linear-gradient(
    330deg,
    rgba(244, 212, 252, 0.33) 0%,
    rgb(244, 243, 243) 58%,
    rgb(242, 241, 241) 66%,
    rgb(202, 246, 247) 100%
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin: 80px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(206, 205, 205);
}

.expense-title {
  text-align: center;
}

.pages-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 320px;
  height: 200px;
  margin-bottom: 20px;
}

.pages-items h3 {
  cursor: pointer;
  padding: 10px;
  background-color: #4ea6d5;
  border-radius: 20px;
  margin: 5px;
  width: 200px;
  text-align: center;
}

.pages-items h3 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
