{% extends 'base.html' %}

<title>{% block title %}Home{% endblock title %}</title>

{% block content %}
<div class="home-container">
  <div class="home-page">
    <h1 class="expense-title">Expenses Tracker</h1>
    <div class="pages-items">
      <h3>
        <a
          href="{% if user.is_authenticated %}{% url 'dashboard' user.pk %}{% else %}{% url 'login' %}{% endif %}"
          >Dashboard</a
        >
      </h3>
      <h3>
        <a href="{% url 'expense_list' %}" target="_blank">API Interface</a>
      </h3>
      <h3>
        <a href="{% url 'swagger-ui' %}" target="_blank">API Swagger Docs</a>
      </h3>
      <h3><a href="{% url 'redoc' %}" target="_blank">API Redoc Schema</a></h3>
    </div>
  </div>
</div>

{% endblock content %}
